<div class="container-fluid profpage" [style.background-image]="'url(\'assets/images/land_bg.jpg\')'">
  <div class="container">
   
    
  </div>
</div>

<!--video container ends-->



<div class="container-fluid inner_pages_wrap">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <ul class="lftnav_wrap">
          <li><a (click)="profilePage()"><i class="far fa-user-circle"></i> My Profile</a></li>
          <li class="prof_active"><a (click)="celebPage()"><i class="far fa-star"></i> My Celebrities</a></li>
          <li><a (click)="transactionPage()"><i class="far fa-money-bill-alt"></i> My Transactions</a></li>
        </ul>

      </div>
      <!--left side nav ends-->

      <div class="col-12 col-sm-9 col-md-9 col-lg-9">
          <div class="row">

            <div class="col-6 col-sm-6 col-md-4 col-lg-4 spacer_celeb" *ngFor="let c of interests;">
                <div class="celeb_pic">
                  <img src="{{imageUrl+c.celebProfile.avtar_imgPath}}" alt="{{c.celebProfile.name}}" title="{{c.celebProfile.name}}" width="100%">
                </div>
                <h3 class="celeb_title">{{c.celebProfile.name}}</h3>
                <p class="celeb_desig">{{c.celebProfile.profession}}</p>
            </div>
           
      </div>
    </div>
      <!--mid Cont ends-->

      


      

    </div>
  </div>
</div>
