.appload_cont{ padding: 50px 0px; margin-top: 0px; 
	font-family: 'Raleway', sans-serif; height: 100vh; background-repeat: no-repeat;
	background-size:cover; position: relative; overflow: hidden;
}

.btns_wrap > button{ padding: 5px 40px;}
.btns_wrap > button > span{ display: inline-block; width: 40px; position: relative; top: 10px;
    left: -20px;
}
.btns_wrap{  display: block; margin: 20px 0 30px 0 ;}
.btns_wrap > button{ border-radius: 36px;}
.btns_wrap > button > small{ display: block; position: relative;}
.and_icntext{ display: block; left: 6px; position: relative;}
.ios_icntext{ display: block; left: 3px; position: relative;}
.drid{ max-height:60px; display: block; float: left; position: relative; left: -10px;
top: 5px;
}
.btnicons_det{ display: inline-block; margin: 0px; padding: 0px;}
.big_fnt{  font-weight:600;}
.and_btn{ background-color: #259dd0; border-color: #259dd0; color: #fff;}
.and_btn:hover{ background-color: #fff; border-color: #2c2c2c; color: #2c2c2c;}

.site_title{ font-size: 20px; font-weight:600; padding: 20px 30px 20px 0px; color: #2c2c2c; 
    font-family: 'Berkshire Swash', cursive;
 }
.site_desc{ font-size: 18px; color: #2c2c2c; line-height: 30px; font-weight:400; 
    display: block; margin: 0px 0px;  padding: 0px 0px 20px 0px;
}
/* .brd{ max-width: 70%; display: block; margin: 0px 0px;} */
.celeb_appmobs > img{ max-width: 480px;}
.ql_hdng2{ font-size: 20px; font-weight: 600; color: #2c2c2c; padding: 20px 0px;}
.sc_wrap{ margin: 0px 0px 0px 50px; display: block; list-style: none;}
.fb,.tw,.lin{ padding: 10px 20px; display: inline-block; cursor: pointer;
	-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; 
	-webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -ms-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.fb span,.tw span,.lin span{ display: inline-block;}
.fb{ background-color: #4267b2; color:#fff; border: 1px solid;}
.tw{ background-color: #1da1f2; color:#fff; border: 1px solid;}
.lin{ background-color: #e4405f; color:#fff; border: 1px solid;}
.fb:hover,.tw:hover,.lin:hover{ background-color:rgba(0,0,0,0.9); color:#fff;}


/*buttons*/
.btn-app-store{
    background: black;
	color: white;
	position: relative;
	height: 60px;
	padding-left: 55px;
	padding-right: 20px;
}
.ibtn{
	font-size: 40px;
	position: absolute;
	left: 10px;
}
.btn-app-store .small{
	display: block;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 2px;
    margin-top: 5px;
}
.btn-app-store .big{
	display: block;
	text-align: left;
	font-size: 21px;
	line-height: 21px;
}
.app_btn{ display: inline-block;}


.regi_btn{ -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; padding: 13px 50px; background-color: #1da1f2;
    border:none; color: #fff; font-weight: 600; text-transform: uppercase;
}
.regi_btn:hover{ background-color: #000; color: #fff; border: none;}
.android_icn{ width: 50px; height: 50px; background-color: #2c2c2c; display: inline-block; 
    -webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%;
    margin-right: 5px; color: #fff; text-align: center; vertical-align: middle;
    display: table-cell;
}

.tab_bgr{ width: 550px; display: block; margin: 0px auto -10px auto; position: absolute; overflow: hidden;
	  z-index: 500; bottom: 0px; left: 0px; right: 0px;
}
.tab_bgr > img{ max-width: 600px; display: block; margin: 0px auto -30px auto;}

.site_hdng{ text-align: center; width: 600px; margin: 0px auto; display: block; padding-top: 50px; }
.konect_hdng{ font-weight: 200; font-size: 30px; color: #fff; text-align: center;}
.celebs_hdng{ color: #fff; text-transform: uppercase; font-weight: 200; font-size: 50px;
	text-align: center;
}
.sgpbtn{ text-align: center; background-color: #fff; border: none; text-transform:uppercase;
	width: 200px; margin: 30px auto 0px auto; padding: 14px 20px; color:#259dd0; display: block;
	-webkit-border-radius: 50px; -moz-border-radius:50px; -ms-border-radius:50px; border-radius:50px;
	cursor: pointer; -webkit-box-shadow:inset 0px -3px #071f2e; -moz-box-shadow:inset 0px -3px #071f2e;
	-ms-box-shadow:inset 0px -3px #071f2e;  box-shadow:inset 0px -3px #071f2e; font-weight:bold;
	-webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -ms-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out; outline: none;
}
.sgpbtn:hover{ background-color: #259dd0; color: #fff;}

.hmpage_btnswrap{ padding: 100px 0px; background-color: #fff;}
.cntr_box{ max-width: 85%; margin: 0px auto;}
.dwn_hdng{ color: #000; text-transform: uppercase; font-weight:200; text-align: left; margin-bottom: 25px;}
.app_btn{ display: block;}
.dwn2{ padding-left: 50px;}


.add_lftbord{ position: relative;}
.add_lftbord:before{ content: ''; position: absolute; left: 0px; top: 0px; height: 160px; width: 1px;
background: #ffffff; 
background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 50%, #ffffff 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 50%,#ffffff 100%); 
background: linear-gradient(to bottom, #ffffff 0%,#cccccc 50%,#ffffff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
 }

 .top_row{ height: 40vh; position: relative;}
 .tabg_data{ height: 60vh;}
 .mydata{ position: absolute; bottom: 0;}

 /*Register Form Setup*/
.register_wrapper{ width:100%; max-width: 670px; height: 100%; position: fixed; right: -20px; top: 0px; bottom: 0px; background-color: #fff;
    z-index: 10000; box-shadow: 0px 0px 10px #000; padding: 50px 50px; box-sizing: border-box;
    font-family: 'Raleway', sans-serif; overflow-y: scroll;
}
.regi_title{ font-size:30px; color: #666; font-weight: 200; margin-bottom: 30px; text-transform: uppercase; }
.regtabs{ list-style: none; padding: 0px; margin: 0px 0px 30px 0px; color: #ddd;}
.regtabs li{ width: 80px; height:80px; float: left; border-radius:100%; border:1px solid #ddd;
        margin-right:50px; position: relative; background-color: #fff; cursor: pointer; 
        padding: 25px 20px; text-align: center;
}
.regtabs li:after{ position: absolute; content: ""; width: 100%; height: 1px; background-color: #ddd; right: -80%;
    top: 40px; z-index: -1;
}
.list_latchild:after{ display: none;}

.regtabs > li > p{ position: absolute; bottom: -50px; left: 0px; right: 0px; text-align: center;}
.reg_active{ color: #259dd0; border-color: #259dd0!important;}
.reg_active:after{ position: absolute; content: ""; width: 100%; height: 1px; background-color: #259dd0!important; right: -80%;
    top: 40px; z-index: -1;}

.pi_hdng{ font-size: 20px; color: #666; padding-top: 50px; padding-bottom: 30px; font-weight:400;}
.reg_email{ width: 70%;}
.rgbtnr{ float: left!important; padding: 10px 15px!important; -webkit-box-shadow: 0px 3px 0px #1c262a;
    -moz-box-shadow: 0px 3px 0px #1c262a; box-shadow: 0px 3px 0px #1c262a;
}

.prefbx{
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
    background-repeat: no-repeat; background-size: 16px; background-position: center right;
}
.interest_lists{ list-style: none; padding: 0px; margin: 0px;}
.interest_lists > li{ float: left; width: 23%; margin-right: 2%; 
    position: relative; margin-bottom: 30px;
}
.pref_img{ position: relative;  overflow: hidden; width: 100%; height: 130px; margin-bottom: 10px; } 
.interest_lists > li > p{ padding: 5px 0px 0px 0px; margin: 0px;}



/*buttons*/
.btn-app-store{
    background: black;
	color: white;
	position: relative;
	height: 60px;
	padding-left: 55px;
	padding-right: 20px;
}
.ibtn{
	font-size: 40px;
	position: absolute;
	left: 10px;
}
.btn-app-store .small{
	display: block;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 2px;
    margin-top: 5px;
}
.btn-app-store .big{
	display: block;
	text-align: left;
	font-size: 21px;
	line-height: 21px;
}
.app_btn{ display: inline-block;}
.thank_data{ font-size:18px; font-weight:400; padding-bottom: 20px;}
.pi_hdng2{ padding-bottom:  20px; margin-bottom: 0px; color: #666;}
.regimasker{ width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; z-index: 1000; cursor: crosshair;
}


.lg_email{ border: none; border-radius:0px; border-bottom: 1px solid #ccc; outline: none;
    box-shadow:none; -webkit-box-shadow:none; font-size: 12px; -webkit-transition: 0.3s ease-in-out;
     -moz-transition: 0.3s ease-in-out; -ms-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out; position: relative; padding: 0 0 5px 0px; 
}
.lg_email:focus{ border-color: #259dd0; color: #259dd0;}
.lg_email::-webkit-input-placeholder{ color: #ccc;}
.embx{ position: relative;}
.usicn{ position: absolute; left: 0; bottom: 5px; z-index: 10; color: #ccc;}
.lg_email:focus .usicn{ color: #259dd0!important;}
.embx > label{ color: #ccc; font-size: 12px;}
.embx2{ margin-bottom: 30px;}
.lgnbtner{ float: right; background-color: #259dd0; border-radius:2px; -webkit-border-radius:2px;
	text-transform: uppercase; font-weight:bold; font-size:0.8rem; color: #fff; padding: 5px 10px;
}
.chk_box {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; color: #ccc;
}


.chk_box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
}


.chk_box:hover input ~ .checkmark {
    background-color: #fff;
}


.chk_box input:checked ~ .checkmark {
    background-color: #259dd0; border-color: #259dd0;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.chk_box input:checked ~ .checkmark:after {
    display: block;
}

.chk_box .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.fgp{ position: absolute; bottom: 0; width: 100%; background-color: #f5f5f5; left: 0; padding: 12px 50px; 
	font-size: 13px;}
.signup_hdng{ color: #259dd0; font-weight: 600; cursor: pointer;}
.hp_blk{ list-style: none; font-size: 12px;}
.lgn_hdng{ color: #000; font-weight:300; font-size: 20px; text-transform: uppercase; padding-bottom: 30px;}


 