<div class="container-fluid profpage" [style.background-image]="'url(\'assets/images/land_bg.jpg\')'">
  <div class="container">
   
    
  </div>
</div>

<!--video container ends-->



<div class="container-fluid inner_pages_wrap">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <ul class="lftnav_wrap">
          <li class="prof_active"><a (click)="profilePage()"><i class="far fa-user-circle"></i> My Profile</a></li>
          <li><a (click)="celebPage()"><i class="far fa-star"></i> My Celebrities</a></li>
          <li><a (click)="transactionPage()"><i class="far fa-money-bill-alt"></i> My Transactions</a></li>
        </ul>
        
        <button type="button" class="btn btn-default bc_btn">Become a Celebrity</button>
      </div>
      <!--left side nav ends-->

      <div class="col-12 col-sm-9 col-md-9 col-lg-9">
        <div class="cvrwrap">
            <div class="profile_wrapper">
              <img src="assets/images/coverpage.jpg" class="c_page" width="100%" alt="coverpage" title="coverpage">
              <ul class="title_mask">
                <li>
                  <span class="big">500</span>
                  <small>Followers</small>
                </li>

                <li>
                  <span class="big">200</span>
                  <small>Following</small>
                </li>

                <li>
                  <span class="big">53</span>
                  <small>Posts</small>
                </li>
              </ul>

              <div class="profile_manager">
                <div class="profile_box"><img src="{{imageUrl+profile.avtar_imgPath}}" class="act_bg" width="100%" alt="{{profile.name}}" title="{{profile.name}}"></div>
                  <p class="profile_edit"><i class="fas fa-pencil-alt"></i> Edit</p>
              </div>
            </div>
        </div>


        <div class="profile_info">
          <ul>
            <li>
              <span>Name</span>
              <p>{{profile.name}}</p>
          </li>
          <li>
              <span>Occupation</span>
              <p>{{profile.profession}} </p>
          </li>
          <li>
              <span>Country</span>
              <p>{{profile.country}}</p>
          </li>
          <!--<li>
              <button type="button" class="btn btn-default flw_btn">Follow</button>
          </li>-->
          <div class="clearfix"></div>
          </ul>
        </div>

        <!--tabs for profile feeds starts-->
        <div class="profile_tabs">
            <ul class="tabs_header">
              <li id="infoT" (click)="showProfileTabs('infoT', $event)" class="ptab_active">
                <i class="fas fa-info-circle fa-2x mytabicn"></i> Info
              </li>
              <li id="feedT" (click)="showProfileTabs('feedT', $event)">
                <i class="fas fa-newspaper fa-2x mytabicn"></i> Feeds
              </li>
              <li id="mediaT" (click)="showProfileTabs('mediaT', $event)">
                <i class="far fa-images fa-2x mytabicn"></i> Media
              </li>
              <div class="clearfix"></div>
            </ul>

           
        </div>

         <!-- tabs data here-->
        <div class="prof_infodata" *ngIf="infoTab">

          <div class="row mb-3">
            <div class="col">
              <h3>About Me</h3>
              <p>{{profile.aboutMe}}</p>
            </div>

            <div class="col">
              <h3>Date Of Birth</h3>
              <p>{{profile.dateOfBirth}}</p>
            </div>

            <div class="col">
              <h3>Email</h3>
              <p>{{profile.email}}</p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <h3>Gender</h3>
              <p>{{profile.gender}}</p>
            </div>
            <div class="col">
              <h3>Mobile Number</h3>
              <p>{{profile.mobileNumber}}</p>
            </div>
            <div class="col">
              <h3>Location</h3>
              <p>{{profile.location}}</p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <h3>Name</h3>
              <p>{{profile.name}} {{profile.lastName}}</p>
            </div>
            <div class="col">
              <h3>Profession</h3>
              <p>{{profile.profession}}</p>
            </div>
            <div class="col">
              <h3>Role</h3>
              <p>{{profile.role}}</p>
            </div>
          </div>

        </div>

        <div *ngIf="feedsTab">
            <div class="row prof_feedsdata" *ngFor="let feedList of feedDetails; let i = index">
              <div class="col">
                <div class="card">
                  <div class="card-block">
                    <div class="pl-3">
                      <div class="row">
                        <div class="col">
                          <a class="avatar-sm" href="javascript:;">
                            <img class="img-fluid rounded-circle" src="{{imageUrl+feedList.profilePicPath}}" style="height: 45px;" />
                          </a>
                          <b class="membername">{{feedList.memberName}}</b>
                        </div>
                      </div>
                    </div>
                    <h5 class="card-title">
                      {{feedList.title}}
                    </h5>
                    <p class="card-text">
                      {{feedList.content}}
                    </p>
                  </div>
                  <img *ngIf="feedList.mediaSrc!=''" class="card-img-bottom img-fluid" src="{{imageUrl+feedList.mediaSrc}}" alt="Card image cap" style="width: 350px;height: 300px;margin-left: 18px;" />
                  <div *ngFor="let imgList of feedList.mediaArray">
                    <img class="card-img-bottom img-fluid" src="{{imageUrl+imgList.mediaUrl}}" alt="Card image cap" style="width: 350px;height: 300px;margin-left: 18px;" />
                  </div>
                  <div style="margin-left: 6px;" class="row" >
                    <div class="col">
                      <img class="card-img-bottom img-fluid1" src="assets/images/view.png" /> &nbsp; 50
                    </div>
                    <div class="col" >
                      <img class="card-img-bottom img-fluid1" src="assets/images/like.png" /> &nbsp; 100
                    </div>
                    <div class="col" >
                      <img class="card-img-bottom img-fluid1" src="assets/images/download.png" /> &nbsp; 10
                    </div>
                    <div class="col" >
                      <img class="card-img-bottom img-fluid1" src="assets/images/share.png" /> &nbsp; 15
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!--<div class="row prof_media" *ngIf="mediaTab">
          <div *ngFor="let feedList of feedDetails; let i = index">
            <img *ngIf="feedList.mediaSrc!=''" class="card-img-bottom img-fluid" src="{{imageUrl+feedList.mediaSrc}}" alt="Card image cap" style="width: 350px;height: 300px;margin-left: 18px;" />
            <div *ngFor="let imgList of feedList.mediaArray">
              <img class="card-img-bottom img-fluid" src="{{imageUrl+imgList.mediaUrl}}" alt="Card image cap" style="width: 350px;height: 300px;margin-left: 18px;" />
            </div>
          </div>
        </div>-->

          <div class="row" *ngIf="mediaTab">
            <div  *ngFor="let feedList of feedDetails; let i = index">
              <figure>
                <div *ngFor="let imgList of feedList.mediaArray"> 
                  <img class="img-fluid" src="{{imageUrl+imgList.mediaUrl}}" alt="Card image cap" style="width: 250px; height:250px;" />
               </div>
                <img *ngIf="feedList.mediaSrc!=''" src="{{imageUrl+feedList.mediaSrc}}" alt="Card image cap" class="img-fluid" style="width: 250px; height:250px;" />

                <!--<figcaption>
                  <h6 class="media-title fw-300">{{ id }}</h6>
                  <small class="media-subtitle">Tile image {{ id }}</small>
                </figcaption>-->
              </figure>
            </div>
          </div>
        


          

      </div>
      <!--mid Cont ends-->

      


      

    </div>
  </div>
</div>
