.profpage{ background-size: cover; background-repeat: no-repeat; padding: 60px 0px;
    overflow: hidden; position: relative; font-family: 'Raleway', sans-serif;
}

.inner_pages_wrap{ padding: 60px 0px; font-family: 'Raleway', sans-serif;}
.lftnav_wrap{ list-style: none; padding: 0px 0px 50px 0px; margin: 0px; background-color: #fff;
    -webkit-box-shadow:0px 0px 30px #ddd; -moz-box-shadow:0px 0px 30px #ddd; -ms-box-shadow:0px 0px 30px #ddd;
    box-shadow:0px 0px 30px #ddd;
    border: 1px solid #ddd;
} 
.lftnav_wrap li{ font-size: 14px; border-bottom: 1px solid #ddd;}
.lftnav_wrap li a{ display: block; padding: 15px 20px; 
    -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; cursor: pointer;
}
.lftnav_wrap li a:hover{ background-color: #259dd0; color: #fff;}
.pad_bot{ padding-bottom: 20px;}
.spons_cont{ font-size: 18px;}
.cbhdng{ font-size:14px; font-weight:400;}
.prof_active{ background-color: #259dd0; color: #fff;}

.bc_btn{ width: 100%; display: block; background-color: #259dd0; color: #fff; text-align: center; font-size:16px;
        -webkit-border-radius:0px;  -moz-border-radius:0px; border-radius:0px; margin: 40px auto; height: 50px;
        -webkit-box-shadow: 0px 3px 0px #1c262a; -moz-box-shadow: 0px 3px 0px #1c262a; -ms-box-shadow: 0px 3px 0px #1c262a;
    box-shadow: 0px 3px 0px #1c262a; font-weight:600;
}

/*profile page css*/
.cvrwrap{ position: relative;}
.profile_wrapper{ padding: 0px; margin: 0px; position: relative; width: 100%;}
.addcred_btn{ float: right; padding: 6px 15px; outline: none; -webkit-box-shadow: 0px 3px 0px #1c262a; margin-bottom: 20px;
    -moz-box-shadow: 0px 3px 0px #1c262a; box-shadow: 0px 3px 0px #1c262a; background-color: #259dd0; color: #fff;
    font-weight:bold; font-size:14px;
}
.tb_hdr > th{ font-size:13px;}
.tbdy_clr{ list-style: none;}
.tbdy_clr > tr:nth-child(odd){ background-color: #f5f5f5;}
