<div class="menu_bar" [class.headerFix]="navIsFixed">
        <div class="celeb_logo" [class.smallLogo]="logoFixed">
          <a href=""><img [src]="logoBg" alt="CelebKonect Logo" title="CeleKonect Logo" width="100%"></a>
        </div>

        <ul class="cbk_menu" id="loginId" *ngIf="showMyMenu">
            <li  class="lgn_btn" (click)="ShowMyPopup()" [class.spaceLogin]="loginFixed"><a >Login</a></li>
          </ul>

        <ul class="cbk_menu" id="menuId" *ngIf="showMyMenu2" [class.spaceForMenu]="menuFixed">
            <li><a [routerLink]="'home'">Home</a></li>
            <li><a [routerLink]="'profile'">Explore</a></li>
            <li><a [routerLink]="'credits'">Credits</a></li>
            <li><a [routerLink]="'javscript:void'">Logout</a></li>
        </ul>

          

          
          <div style="clear:both;"></div>
</div>


<!--login popup-->
<div class="loginpop_mask"  *ngIf="showPopup" (click)="closePopup()"></div>
<div class="loing_popup" *ngIf="showPopup">
    <div class="pop_left" [style.background-image]="'url(\'assets/images/handmobile.jpg\')'">
        
    </div>

    <div class="pop_right">
                <h3 class="lgn_hdng">Login to your account</h3>
            <form [formGroup]="loginForm" (submit)="onLoginSubmit()">

                <div class="show-hide-message">
                    <div [ngClass]="messageClass">{{message}}</div>
                  </div>
                  
                <div class="form-group embx embx2">
                  <label for="email">Email:</label>

                  <div [ngClass]="{'has-error' : loginForm.controls.email.errors && loginForm.controls.email.dirty,
                                  'has-success': loginForm.controls.email.valid && loginForm.controls.email.dirty}">
                    <input type="email" class="form-control lg_email" [(ngModel)]="user.email" id="email" placeholder="ex : John@indoz.com" formControlName="email">
                  
                    <ul class="hp_blk">
                      <li *ngIf="loginForm.controls.email.errors?.required && loginForm.controls.email.dirty">This field is Required</li>
                    </ul>
                  </div>
                  
                </div>
                <div class="form-group embx">
                  <label for="password">Password:</label>

                  <div [ngClass]="{'has-error' : loginForm.controls.password.errors && loginForm.controls.password.dirty,
                  'has-success': loginForm.controls.password.valid && loginForm.controls.password.dirty}">
                    <input type="password" [(ngModel)]="user.password" class="form-control lg_email" id="password" placeholder="**********" formControlName="password">
                    <ul class="hp_blk">
                      <li *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.dirty">This field is Required</li>
                    </ul>
                  </div>
                  
                </div>
                
                <div class="checkbox">
                    <label class="chk_box">Remember me
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                  <button type="submit" class="btn btn-default lgnbtner">Login </button>
                </div>
                
              </form>

              <div class="fgp">Don't you have an account ? <span (click)="closePopup()" class="signup_hdng">Signup</span></div>
    </div>
</div>



<!--Rgisteration Setup -->

<div class="register_wrapper" *ngIf="regPopup">
    <h2 class="regi_title">Create your Account</h2>

    <ul class="regtabs">
      <li class="reg_active"  id="prof" (click)="getRegiTabs('prof', $event)">
        <i class="far fa-user fa-2x"></i>
        <p>Profile</p>
      </li>

      <li id="inter" (click)="getRegiTabs('inter', $event)">
        <i class="fas fa-sliders-h fa-2x"></i>
        <p>Preferences</p>
      </li>

      <li id="pref" (click)="getRegiTabs('pref', $event)">
        <span class="list_user"><i class="far fa-list-alt fa-2x"></i></span>
        <p>Interests</p>
      </li>

      <li class="list_latchild" id="fin" (click)="getRegiTabs('fin', $event)">
        <span class="list_user"><i class="far fa-flag fa-2x"></i></span>
        <p>Finish</p>
      </li>
      <div class="clearfix"></div>
    </ul>

    <!--tabs over-->

    <div class="prof_setupBox" *ngIf="tab1">
        <h3 class="pi_hdng">Provide your profile Information</h3>

        <form> 
  
            <div class="form-group embx embx2">
              <label for="username">Email:</label>
              <input type="text" class="form-control lg_email reg_email" id="email" placeholder="ex : John@indoz.com">
            </div>
  
            <div class="form-group embx embx2">
              <label for="email">Email:</label>
                <input type="email" class="form-control lg_email reg_email" id="email" placeholder="ex : John@indoz.com">
            </div> 
           
  
            <div class="form-group embx embx2">
              <label for="password">Password:</label>
                <input type="password" class="form-control lg_email reg_email" id="password" placeholder="**********">
            </div>
  
            <div class="form-group embx embx2">
                <label for="profile">Profile Pic:</label>
                  <input type="text" class="form-control lg_email reg_email" id="profile" placeholder="ex : mypic.jpeg">
              </div>
            
            
              <button type="submit" class="btn btn-default lgnbtner rgbtnr">Save & Continue <i class="fas fa-chevron-right"></i> </button>
              <div class="clearfix"></div>
            
          </form>
    </div>

    <!--profile tab over-->




    <div class="pref_setupBox" *ngIf="tab2">
        <h3 class="pi_hdng">Select your Preferences</h3>

        <form> 
  
            <div class="form-group embx embx2">
              <label for="sports">Sports:</label>
              
              <select class="form-control lg_email reg_email prefbx" placeholder="ex : Football, Cricket"
               [style.background-image]="'url(\'assets/images/down-arrow2.png\')'">
                <option>Football</option>
                <option>Baseball</option>
                <option>Cricket</option>
                <option>Tennis</option>
              </select>
            </div>
  
            <div class="form-group embx embx2">
              <label for="movies">Movies:</label>
                
              <select class="form-control lg_email reg_email prefbx" placeholder="ex : Hollywood, Bollywood"
              [style.background-image]="'url(\'assets/images/down-arrow2.png\')'">
                <option>Hollywood</option>
                <option>Bollywood</option>
                <option>TollyWood</option>
                <option>Kollywood</option>
              </select>
            </div> 
           
  
            <div class="form-group embx embx2">
              <label for="televisions">Televisions:</label>

              <select class="form-control lg_email reg_email prefbx" placeholder="ex : T.V. Shows, T.V. Serials"
              [style.background-image]="'url(\'assets/images/down-arrow2.png\')'">
                  <option>T.V. Shows</option>
                  <option>T.V. Serials</option>
              </select>
            </div>

  
            <div class="form-group embx embx2">
                <label for="politicians">Politicians:</label>

                <select class="form-control lg_email reg_email prefbx" placeholder="ex : PM, CM"
                [style.background-image]="'url(\'assets/images/down-arrow2.png\')'">
                    <option>PM</option>
                    <option>CM</option>
                    <option>MP</option>
                    <option>MLA</option>
                </select>
              </div>
            
            
              <button type="submit" class="btn btn-default lgnbtner rgbtnr">Save & Continue <i class="fas fa-chevron-right"></i> </button>
              <div class="clearfix"></div>
            
          </form>
    </div>

    <!--Preferences  tab over-->





    <div class="intrest_setupBox" *ngIf="tab3">
        <h3 class="pi_hdng">Tell us about your Interests</h3>

        <form> 
            <ul class="interest_lists">
              <li>
                <div class="pref_img">
                    <img src="assets/images/enriq1.jpg" alt="Lipsika" title="Lipsika" width="100%">
                </div>
                
                <p>Lipsika</p>
                <small>Indian Film Singer</small>
              </li>

              <li>
                <div class="pref_img">
                    <img src="assets/images/enriq2.jpg" alt="Anudeep" title="Anudeep" width="100%">
                </div>
                  
                  <p>Anudeep Dev</p>
                  <small>Indian Playback Singer</small>
                </li>

                <li>
                    <div class="pref_img">
                        <img src="assets/images/enriq6.jpg" alt="Dhruv" title="Dhruv" width="100%">
                    </div>
                    
                    <p>Dhruv Pal Godara</p>
                    <small>Polo Player</small>
                  </li>

                  <li>
                    <div class="pref_img">
                        <img src="assets/images/enriq7.jpg" alt="Mumaith Khan" title="Mumaith Khan" width="100%">
                    </div>
                      
                      <p>Mumaith Khan</p>
                      <small>Actress</small>
                    </li>

                    <div class="clearfix"></div>
            </ul>
            <button type="submit" class="btn btn-default lgnbtner rgbtnr">Save & Continue <i class="fas fa-chevron-right"></i> </button>
            <div class="clearfix"></div>
        </form>
    </div>

    <!--Intrestes  tab over-->

      



    <div class="intrest_setupBox" *ngIf="tab4">
        <h3 class="pi_hdng pi_hdng2">Thank You</h3>
           <p class="thank_data">Experience the wonderfull design of our app. <br/>Download from </p>

              <div class="btn btn-app-store">
                  <i class="fab fa-android fa-2x ibtn"></i>
                <span class="small">Download on the</span>
                <span class="big">Play Store</span>
              </div>

            <div class="btn btn-app-store">
                <i class="fab fa-apple fa-2x ibtn"></i>
                <span class="small">Download on the</span>
                <span class="big">App Store</span>
            </div><br/><br/><br/>

            <button type="submit" class="btn btn-default lgnbtner rgbtnr">Finish <i class="fas fa-chevron-right"></i> </button>
            <div class="clearfix"></div>
        
    </div>

    <!--finish  tab over-->


</div>
<div class="regimasker" *ngIf="showMask2" (click)="closeRegiPop()"></div>
