.menu_bar{ padding: 10px 30px; margin: 0px; position: fixed; top: 0px;
    left: 0px; right: 0px; z-index: 999; background: none;
    -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;
}
.celeb_logo { width:100px; float: left; -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;}
.celeb_logo > a{ margin: 10px 0px 12px 0px; display: block;}

.cbk_menu{ float: right; list-style: none; padding: 0px; margin: 30px 0px 0px 0px;
            -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;
}
.cbk_menu li{ float: left; position: relative; }
.cbk_menu li a{ display: block; padding: 10px 25px; text-transform: uppercase;
    -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; color: #fff; text-decoration: none;
}
.cbk_menu li a:hover{ text-decoration: none; color: #259dd0; }
.lgn_btn{ border: 2px solid #fff; color: #fff; margin-top:0px; cursor: pointer;
          -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;
}
.lgn_btn a{ color: #fff!important;}
.lgn_btn a:hover{ background-color: #259dd0; color: #fff!important;}

.list_active{ color: #259dd0; background-color: #f0f0f0; position: relative;}
list_active:after{ position: absolute; content:""; width: 100%; height: 3px; bottom: 0px;
    background-color: #259dd0; display: block; margin: 0px auto; left: 0px; right: 0px;
}


/*popup css */

.loing_popup{ width: 670px; position: fixed; top: 50%; left: 50%; height: 470px;
	-webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); background-color: #fff; z-index: 9000; overflow: hidden;
	-webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; border-radius:2px;
}
.loginpop_mask{ background-color: rgba(0,0,0,0.8); position: fixed; width: 100%; height:100%; top: 0; bottom: 0;
	left: 0; right: 0; z-index:1000; cursor: crosshair;
}
.pop_left{ display: block; width: 45%; float: left; height: inherit; background-repeat: no-repeat;
	background-size: cover; -webkit-box-shadow:0px 0px 40px #999; -moz-box-shadow:0px 0px 40px #999;
	-ms-box-shadow:0px 0px 40px #999; box-shadow:0px 0px 40px #999;
}
.pop_right{ display: block; width: 55%; float: left; padding: 60px 50px; box-sizing: border-box; position: relative;
	height: inherit; z-index: -1;
}
.lgn_hdng{ color: #000; font-weight:300; font-size: 20px; text-transform: uppercase; padding-bottom: 30px;}
.lg_email{ border: none; border-radius:0px; border-bottom: 1px solid #ccc; outline: none;
    box-shadow:none; -webkit-box-shadow:none; font-size: 12px; -webkit-transition: 0.3s ease-in-out;
     -moz-transition: 0.3s ease-in-out; -ms-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out; position: relative; padding: 0 0 5px 0px; 
}
.lg_email:focus{ border-color: #259dd0; color: #259dd0;}
.lg_email::-webkit-input-placeholder{ color: #ccc;}
.embx{ position: relative;}
.usicn{ position: absolute; left: 0; bottom: 5px; z-index: 10; color: #ccc;}
.lg_email:focus .usicn{ color: #259dd0!important;}
.embx > label{ color: #ccc; font-size: 12px;}
.embx2{ margin-bottom: 30px;}
.lgnbtner{ float: right; background-color: #259dd0; border-radius:2px; -webkit-border-radius:2px;
	text-transform: uppercase; font-weight:bold; font-size:0.8rem; color: #fff; padding: 5px 10px;
}
.chk_box {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; color: #ccc;
}


.chk_box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
}


.chk_box:hover input ~ .checkmark {
    background-color: #fff;
}


.chk_box input:checked ~ .checkmark {
    background-color: #259dd0; border-color: #259dd0;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.chk_box input:checked ~ .checkmark:after {
    display: block;
}

.chk_box .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.fgp{ position: absolute; bottom: 0; width: 100%; background-color: #f5f5f5; left: 0; padding: 12px 50px; 
	font-size: 13px;}
.signup_hdng{ color: #259dd0; font-weight: 600; cursor: pointer;}
.hp_blk{ list-style: none; font-size: 12px;}







/*Register Form Setup*/
.register_wrapper{ width:100%; max-width: 670px; height: 100%; position: fixed; right: -20px; top: 0px; bottom: 0px; background-color: #fff;
    z-index: 10000; box-shadow: 0px 0px 10px #000; padding: 50px 50px; box-sizing: border-box;
    font-family: 'Raleway', sans-serif; overflow-y: scroll;
}
.regi_title{ font-size:30px; color: #666; font-weight: 200; margin-bottom: 30px; text-transform: uppercase; }
.regtabs{ list-style: none; padding: 0px; margin: 0px 0px 30px 0px; color: #ddd;}
.regtabs li{ width: 80px; height:80px; float: left; border-radius:100%; border:1px solid #ddd;
        margin-right:50px; position: relative; background-color: #fff; cursor: pointer; 
        padding: 25px 20px; text-align: center;
}
.regtabs li:after{ position: absolute; content: ""; width: 100%; height: 1px; background-color: #ddd; right: -80%;
    top: 40px; z-index: -1;
}
.list_latchild:after{ display: none;}

.regtabs > li > p{ position: absolute; bottom: -50px; left: 0px; right: 0px; text-align: center;}
.reg_active{ color: #259dd0; border-color: #259dd0!important;}
.reg_active:after{ position: absolute; content: ""; width: 100%; height: 1px; background-color: #259dd0!important; right: -80%;
    top: 40px; z-index: -1;
}
.pi_hdng{ font-size: 20px; color: #666; padding-top: 50px; padding-bottom: 30px; font-weight:400;}
.reg_email{ width: 70%;}
.rgbtnr{ float: left; padding: 10px 15px; outline: none; -webkit-box-shadow: 0px 3px 0px #1c262a;
    -moz-box-shadow: 0px 3px 0px #1c262a; box-shadow: 0px 3px 0px #1c262a;
}

.prefbx{
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
    background-repeat: no-repeat; background-size: 16px; background-position: center right;
}
.interest_lists{ list-style: none; padding: 0px; margin: 0px;}
.interest_lists > li{ float: left; width: 23%; margin-right: 2%; 
    position: relative; margin-bottom: 30px;
}
.pref_img{ position: relative;  overflow: hidden; width: 100%; height: 130px; margin-bottom: 10px; } 
.interest_lists > li > p{ padding: 5px 0px 0px 0px; margin: 0px;}



/*buttons*/
.btn-app-store{
    background: black;
	color: white;
	position: relative;
	height: 60px;
	padding-left: 55px;
	padding-right: 20px;
}
.ibtn{
	font-size: 40px;
	position: absolute;
	left: 10px;
}
.btn-app-store .small{
	display: block;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 2px;
    margin-top: 5px;
}
.btn-app-store .big{
	display: block;
	text-align: left;
	font-size: 21px;
	line-height: 21px;
}
.app_btn{ display: inline-block;}
.thank_data{ font-size:18px; font-weight:400; padding-bottom: 20px;}
.pi_hdng2{ padding-bottom:  20px; margin-bottom: 0px; color: #666;}
.regimasker{ width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; z-index: 1000; cursor: crosshair;
}

.headerFix{ background-color:rgba(0,0,0,0.8); padding-top: 0px; padding-bottom: 0px; 
    -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;
}
.smallLogo{ width: 70px; -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;}
.spaceLogin { margin-top:-12px; -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;}
.spaceForMenu { margin-top:20px; -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;}

