<div class="container-fluid mainpage" [style.background-image]="'url(\'assets/images/land_bg.jpg\')'">
  <div class="container tabler_bg">
    <!-- <img src="assets/images/tabler.png" class="tab_bg" alt="" title="" width="100%"> -->
    <div class="tab_bg" [style.background-image]="'url(\'assets/images/tabler.png\')'">
      <iframe class="ivideo" width="100%" src="https://www.youtube.com/embed/Qy706jjeks4"
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
     </iframe>
    </div>
    
  </div>
</div>

<!--video container ends-->



<div class="container-fluid inner_pages_wrap">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <ul class="lftnav_wrap">
          <li><a (click)="profilePage()"><i class="far fa-user-circle"></i> My Profile</a></li>
          <li><a (click)="celebPage()"><i class="far fa-star"></i> My Celebrities</a></li>
          <li><a (click)="transactionPage()"><i class="far fa-money-bill-alt"></i> My Transactions</a></li>
        </ul> 
      </div>
      <!--left side nav ends-->

      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row pad_bot">
            <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                <iframe width="100%" src="https://www.youtube.com/embed/fbhOCEAHOl4"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
               </iframe>
               <h5 class="cbhdng">Mumaith Khan | CelebKonect</h5>
              </div>
      
              <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                  <iframe width="100%" src="https://www.youtube.com/embed/Ne4s2p8mqyI"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                 </iframe>
                 <h5 class="cbhdng">Ruby | CelebKonect</h5>
              </div>
        </div>

        <div class="row pad_bot">
            <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                <iframe width="100%" src="https://www.youtube.com/embed/PIQyTw2UXwE"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
               </iframe>
               <h5 class="cbhdng">Seba koshy | CelebKonect</h5>
              </div>
      
              <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                  <iframe width="100%" src="https://www.youtube.com/embed/Qy706jjeks4"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                 </iframe>
                 <h5 class="cbhdng"> CelebKonect</h5>
                </div>
        </div>

      </div>
      <!--mid Cont ends-->


      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <p class="spons_cont">Sponsored Content Goes Here</p>
        <h6>Welcome {{this.email}}</h6>
      </div>
      <!--sponsored cont ends-->

    </div>
  </div>
</div>
