.mainpage{ background-size: cover; background-repeat: no-repeat;  height: 100vh;
    overflow: hidden; position: relative; font-family: 'Raleway', sans-serif;
}
.tabler_bg{  max-width: 725px; margin: 0px auto; bottom: 0; left: 0px; right: 0px;
    position: absolute; background-size: 100% auto; background-repeat: no-repeat;
    height: 80vh; overflow: hidden; z-index: 1;
    
}
.tab_bg{ position: absolute; z-index: 10; bottom: -20%; width: 94%; left: 0; right: 0; overflow: hidden;
    display: block; margin: 0px auto; background-size: 100% auto; background-repeat: no-repeat; background-position: bottom;
    padding: 35% 0;
}
.ivideo{ position: absolute; width: 85.1%; height: 70%; z-index: -1; left: 7.5%;
    top: 9%;
}

.inner_pages_wrap{ padding: 60px 0px; font-family: 'Raleway', sans-serif;}
.lftnav_wrap{ list-style: none; padding: 0px 0px 50px 0px; margin: 0px; background-color: #fff;
    -webkit-box-shadow:0px 0px 30px #ddd; box-shadow:0px 0px 30px #ddd;
    border: 1px solid #ddd;
} 
.lftnav_wrap li{ font-size: 14px; border-bottom: 1px solid #ddd;}
.lftnav_wrap li a{ display: block; padding: 15px 20px; 
    -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; cursor: pointer;
}
.lftnav_wrap li a:hover{ background-color: #259dd0; color: #fff;}
.pad_bot{ padding-bottom: 20px;}
.spons_cont{ font-size: 18px;}
.cbhdng{ font-size:14px; font-weight:400;}
